#menu_sair {
	line-height: 0px;
	justify-content: right;
	text-align: rigth;
	align-items: rigth;
}

#menu_centralizar {
	line-height: 30px;
	text-align: center;
	list-style: none;
}

#menu_centralizar ul {
	list-style: none;
}

#menu_esquerda {
	line-height: 30px;
	justify-content: right;
	text-align: rigth;
	align-items: rigth;
	width: 49%;
}

#menu_esquerda ul {
	list-style: none;
}

#menu_esquerda li {
	list-style: none;
}

#menu_direita {
	line-height: 30px;
	justify-content: left;
	text-align: left;
	align-items: left;
	width: 50%;
}

#tabela-relatorio {
	width: 50px;
	height:50px;
	margin: auto;
}
.alinhar {
	display: flex;
}
